services:
  mysql:
    image: mysql:latest
    ports:
      - 3306:3306
    volumes:
      - dbdata:/var/lib/mysql

  
  redis:
    image: redis
    ports:
      - 6379:6379
    volumes:
      - redisdata:/data
  
  
  webserver:
    images: webapp:latest
    ports:
      - 8080:8080
    links:
      - redis
      - mysql
      
      
volumes:
  redisdata:
  dbdata:

